.container {
    width: 310px;
    height: 650px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    /* Center the h2 element */
  }
  
  .content-wrap {
    position: relative;
    /* Position the wrapper relative to the container */
  }
  
  .content-wrap h2 {
    margin-top: 4;
    margin-left: 25px;
    /*display: inline-block;   */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* Remove any margin around the list */
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 20px;
  }
  
  li.checklist-item {
    background-color: rgba(220, 220, 230, 0.8);
    border: 1px solid #000;
    /* Add a 8px border and a gray color */
    padding: 15px;
    /* Altura de la cajita */
    width: 100%;
    /* Make the box as wide as the list item */
    box-sizing: border-box;
    /* Include the padding and border in the total width and height of the box */
  }
  
  li label {
    margin-left: 15px;
  }
  
  .evaluate-button {
    background-color: #007bff;
    color: #fff; 
    border: none;
    border-radius: 10px;/*Borde*/
    padding: 15px;
    margin-left: 0px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  
  .help-button {
    background-color: #007bff;
    border: none;
    padding: 10;
    margin: 10;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url("https://www.freepik.es/icono/linea_9694578#fromView=search&p age=1&position=2&uuid=cbdb5c14-c730-434b-8b16-cb3357b9cd81");
   }