.container, .container-opciones {
    width: 80%;
    margin: 20px auto; /* Esto centrará horizontalmente y agregará un margen arriba y abajo */
}

.container {
    width: 310px;
    height: 650px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;

}

.container-opciones {
    width: 310px;
    height: 650px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;

}

.header1 {
    flex-direction: column;
    background-image: url(Images/PrimerosAuxilios1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: left;
    min-height: auto;
    padding: 15px 0;
}

.header-content1 {
    background-color: rgba(26, 28, 28, 0.5);
    /* Fondo semitransparente para mejorar la legibilidad del texto */
    padding: 15px 30px;
    /* Espacio de relleno dentro del contenedor de contenido */
    color: #ffffff;
}

.problems-items1 {
    text-align: left;
}

.header2 {
    flex-direction: column;
    background-image: url(Images/PrimerosAuxilios2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: left;
    min-height: auto;
    padding: 15px 0;
}

.header-content2 {
    background-color: rgba(26, 28, 28, 0.5);
    /* Fondo semitransparente para mejorar la legibilidad del texto */
    padding: 15px 15px;
    /* Espacio de relleno dentro del contenedor de contenido */
    color: #ffffff;
}

.problems-items2 {
    text-align: left;
}

.header3 {
    flex-direction: column;
    background-image: url(Images/PrimerosAuxilios3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: left;
    min-height: auto;
    padding: 15px 0;
}

.header-content3 {
    background-color: rgba(26, 28, 28, 0.5);
    /* Fondo semitransparente para mejorar la legibilidad del texto */
    padding: 15px 30px;
    /* Espacio de relleno dentro del contenedor de contenido */
    color: #ffffff;
}

.problems-items3 {
    text-align: left;
}

.header4 {
    background-image: url(Images/imagenbase.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: auto;
    padding: 15px 0;
}

.header-content4 {
    background-color: rgba(26, 28, 28, 0.5);
    /* Fondo semitransparente para mejorar la legibilidad del texto */
    padding: 15px 30px;
    /* Espacio de relleno dentro del contenedor de contenido */
    color: #ffffff;
}

.pasos-items {
    text-align: left;
}

.video-image{
    margin-left: 10px;
    margin-right: 10px;
    
}