<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header class="header1">
            <a href="#" class="boton-home">
                <i class="fas fa-arrow-left"></i>
            </a>
            <section class="header-content1">
                <h1>Primeros auxilios básicos</h1>
            </section>
        </header>
        
        <main class="problems-items1">
            <h4>Problemas Respiratorios</h4>
            <section class="problem-bs1">
                <a href="#opciones" class="boton">
                    <i class="fas fa-head-side-cough"></i>
                    Asfixia
                </a>
            </section>
            <br>

            <section class="problem-bs2">
                <a href="#opciones" class="boton">
                    <i class="fas fa-lungs"></i>
                    Asma
                </a>
            </section>
            <section class="Category-2">
                <h4>Heridas y traumas</h4>
            </section>
            <section class="problem-bs3">
                <a href="#opciones" class="boton">
                    <i class="fas fa-tint"></i>
                    Hemorragia grave
                </a>
            </section>
            <br>
            <section class="problem-bs4">
                <a href="#opciones" class="boton">
                    <i class="fas fa-fire"></i>
                    Quemaduras
                </a>
            </section>
            <br>
            <section class="problem-bs5">
                <a href="#opciones" class="boton">
                    <i class="fas fa-head-side-virus"></i>
                    Lesión en la cabeza
                </a>
            </section>
        </main>
    </div>
    
    <br>

    <div class="container">
        <header class="header2">
            <a href="#" class="boton-home">
                <i class="fas fa-arrow-left"></i>
            </a>
            <section class="header-content1">
                <h1>Primeros auxilios básicos</h1>
            </section>
        </header>
        <main class="problems-items2">
            <h4>Angustia mental</h4>
            <section class="problem-1">
                <a href="#opciones" class="boton">
                    <i class="fas fa-sad-tear"></i>
                    Duelo agudo
                </a>
            </section>
            <br>
            <section class="problem-ps2">
                <a href="#opciones" class="boton">
                    <i class="fas fa-surprise"></i>
                    Eventos traumáticos
                </a>
            </section>
            <br>
            <section class="problem-3">
                <a href="#opciones" class="boton">
                    <i class="fas fa-child"></i>
                    Niños con sufrimiento
                </a>
            </section>
            <br>
            <section class="problem-4">
                <a href="#opciones" class="boton">
                    <i class="fas fa-running"></i>
                    Ataque de pánico
                </a>
            </section>
            <br>
        </main>
    </div>

    <br>

    <div class="container">
        <header class="header3">
            <a href="#" class="boton-home">
                <i class="fas fa-arrow-left"></i>
            </a>
            <section class="header-content1">
                <h1>Primeros auxilios básicos</h1>
            </section>
        </header>
        <main class="problems-items3">
            <h4>Problemas Respiratorios</h4>
            <section class="problem-ep1">
                <a href="#opciones" class="boton">
                    <i class="fas fa-lungs-virus"></i>
                    Neumonía
                </a>
            </section>
            <br>
            <section class="problem-ep2">
                <a href="#opciones" class="boton">
                    <i class="fas fa-brain"></i>
                    Meningitis
                </a>
            </section>
            <br>
            <section class="problem-ep3">
                <a href="#opciones" class="boton">
                    <i class="fas fa-disease"></i>
                    Tuberculosis
                </a>
            </section>
            <br>
            <section class="problem-ep4">
                <a href="#opciones" class="boton">
                    <i class="fas fa-thermometer-full"></i>
                    Fiebre amarilla
                </a>
            </section>
            <br>
            <section class="problem-ep5">
                <a href="#opciones" class="boton">
                    <i class="fas fa-poo"></i>
                    Diarrea
                </a>
            </section>
            <br>
            <section class="problem-ep6">
                <a href="#opciones" class="boton">
                    <i class="fas fa-bug"></i>
                    Dengue
                </a>
            </section>
            <br>
        </main>
    </div>

    <br>

    <div class="container-opciones" id="opciones">
        <header class="header4">
            <section class="header-content4">
                <h1>Vista general de opción seleccionada</h1>
            </section>
        </header>
        <main class="pasos-items">
            <h3>
                <b>
                    Pasos
                </b>
            </h3>
            <section class="problem-ep1">
                <p>
                    <b>
                        1.Enfocarse:
                    </b>
                    Intenta identificar las
                    principales causantes.
                </p>
            </section>

            <section class="problem-ep1">
                <p>
                    <b>
                        2.Respirar:
                    </b>
                    Si se experimenta algún
                    tipo de dolor o taquicardia, intenta
                    cerrar los ojos y respirar profundo.
                </p>
            </section>

            <section class="problem-ep1">
                <p>
                    <b>
                        3.Autocontrolar:
                    </b>
                    Concientizate
                    positivamente: “Soy capaz de controlar
                    la situación”.
                </p>
            </section>
            <br>
            <section style="text-align: center;">
                <img src="images/videoimage.jpg">
            </section>


        </main>
    </div>


</body>
</html>