<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <div class="content-wrap">
            <button class="help-button"></button>
            <h2>Evaluar emergencia </h2>
            <link rel="stylesheet" href="css/_evaluar.scss">
            <ul>
                <li class="checklist-item">
                    <input type="checkbox">
                    <label>La persona responde</label>
                </li>
                <li class="checklist-item">
                    <input type="checkbox">
                    <label>Respira normalmente</label>
                </li>
                <li class="checklist-item">
                    <input type="checkbox">
                    <label>Está sangrando</label>
                </li>
                <li class="checklist-item">
                    <input type="checkbox">
                    <label>Es un niño</label>
                </li>
                <li class="checklist-item">
                    <input type="checkbox">
                    <label>Es un adulto</label>
                </li>
                <li class="checklist-item">
                    <input type="checkbox">
                    <label>Presenta un ritmo cardiaco bajo</label>
                </li>
                <button class="evaluate-button"><a href="./ResultadosEvaluation.html"></a> Evaluar</button>
            </ul>
        </div>
    </div>
</body>

</html>